@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans:wght@300;400;600;700&family=Raleway:wght@400;500;600;800&display=swap");

body {
  font-family: "Montserrat", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Raleway", sans-serif;
  margin: 0;
  height: 10000px;
}

header {
  width: 100%;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: transparent;
  position: fixed;
  top: 0;
}

.header-left {
  padding: 40px 20px 0 20px;
}

.header-left a {
  text-decoration: none;
  color: white;
}

.header-right {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 700px;
}

.header-right a {
  text-decoration: none;
  color: white;
  font-size: 14px;
  padding: 0 10px;
  transition: 0.3s ease-in-out;
  height: fit-content;
  transform: translateY(65px);
  font-size: 16px;
}

.header-right a:hover {
  color: rgb(175, 160, 141);
}

.header-left a {
  padding: 10px 0px 0px 10px;
  display: inline-block;
  vertical-align: top;
  font-size: 34px;
}

.header-icons {
  line-height: 160px;
  padding-right: 100px;
}

.header-icons img:first-child {
  padding: 0px 20px;
}

.slider {
  width: 100%;
  height: 100vh;
  background-image: url(./imgs/bg\ photo.png);
}

.slider-text {
  position: absolute;
  top: 40%;
  transform: translateX(34vw);
  text-align: center;
  color: white;
}

.slider-text p {
  margin: 10px 0;
}

.slider-text p:nth-child(1) {
  font-size: 36px;
  font-weight: 500;
}
.slider-text p:nth-child(2) {
  font-size: 52px;
  font-weight: 900;
}

.slider-text p:nth-child(3) {
  font-size: 16px;
  padding: 0 0 35px 0;
  width: 584px;
}

.slider-text button {
  height: 50px;
  width: 175px;
  text-transform: uppercase;
  background-color: rgb(175, 160, 141);
  border: none;
  color: white;
  font-weight: 700;
  border-radius: 5px;
  transition: all 0.5s;
  cursor: pointer;
  box-shadow: 0 10px 20px -8px rgba(0, 0, 0, 0.7);
}

button {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

button:after {
  content: "»";
  position: absolute;
  opacity: 0;
  top: 15px;
  right: 25px;
  transition: 0.5s;
}

button:hover {
  padding-right: 30px;
  padding-left: 8px;
}

button:hover:after {
  opacity: 1;
  right: 10px;
}

.sub-slider-block {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-align: center;
  padding-top: 80px;
}

.sub-slider-block span {
  display: block;
  width: 40%;
  height: 2px;
  background-color: grey;
  margin: auto;
  transition: all 0.3s ease-in-out;
}

.sub-slider-block img,
h3 {
  color: grey;
  transition: all 0.3s ease-in-out;
}

.sub-slider-block > div {
  width: 15%;
}

.sub-slider-block > div:hover h3 {
  color: rgb(175, 160, 141);
}

.sub-slider-block > div:hover span {
  background-color: rgb(175, 160, 141);
}
