@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans:wght@300;400;600;700&family=Raleway:wght@400;500;600;800&display=swap");

body {
  font-family: "Montserrat", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Raleway", sans-serif;
  margin: 0;

  box-sizing: border-box;
}

header {
  width: 100%;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: transparent;
  position: fixed;
  top: 0;
}

.header-left {
  padding: 40px 20px 0 20px;
}

.header-left a {
  text-decoration: none;
  color: white;
}

.header-right {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 700px;
}

.header-right a {
  text-decoration: none;
  color: white;
  font-size: 14px;
  padding: 0 10px;
  transition: 0.3s ease-in-out;
  height: fit-content;
  transform: translateY(65px);
  font-size: 16px;
}

.header-right a:hover {
  color: rgb(175, 160, 141);
}

.header-left a {
  padding: 10px 0px 0px 10px;
  display: inline-block;
  vertical-align: top;
  font-size: 34px;
}

.header-icons {
  line-height: 160px;
  padding-right: 100px;
}

.header-icons img:first-child {
  padding: 0px 20px;
}

.slider {
  width: 100%;
  height: 100vh;
  background-image: url(./imgs/bg\ photo.png);
}

.slider-text {
  position: absolute;
  bottom: 50%;
  transform: translateY(50%);
  text-align: center;
  left: 0;
  right: 0;
  color: white;
}

.slider-text p {
  margin: 10px 0;
}

.slider-text p:nth-child(1) {
  font-size: 36px;
  font-weight: 500;
}
.slider-text p:nth-child(2) {
  font-size: 52px;
  font-weight: 900;
}

.slider-text p:nth-child(3) {
  font-size: 16px;
  padding: 0 0 35px 0;
  width: 500px;
  line-height: 30px;
  margin: auto;
}

.slider-text button {
  height: 50px;
  width: 175px;
  text-transform: uppercase;
  background-color: rgb(175, 160, 141);
  border: none;
  color: white;
  font-weight: 700;
  border-radius: 5px;
  transition: all 0.5s;
  cursor: pointer;
  box-shadow: 0 10px 20px -8px rgba(0, 0, 0, 0.7);
}

.slider-text button {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.slider-text button:after {
  content: "»";
  position: absolute;
  opacity: 0;
  top: 15px;
  right: 25px;
  transition: 0.5s;
}

.slider-text button:hover {
  padding-right: 30px;
  padding-left: 8px;
}

.slider-text button:hover:after {
  opacity: 1;
  right: 10px;
}

.sub-slider-block {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-align: center;
  padding: 80px 0;
}

.sub-slider-block span {
  display: block;
  width: 40%;
  height: 2px;
  background-color: grey;
  margin: auto;
  transition: all 0.3s ease-in-out;
}

.sub-slider-block img,
h3 {
  transition: all 0.3s ease-in-out;
}

.sub-slider-block p {
  color: grey;
}

.sub-slider-block > div {
  width: 15%;
}

.sub-slider-block > div:hover h3 {
  color: rgb(175, 160, 141);
}

.sub-slider-block > div:hover span {
  background-color: rgb(175, 160, 141);
}

.realization-block {
  background-color: rgb(175, 160, 141);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.realization-block p {
  width: 60%;
  line-height: 30px;
  padding: 0 0 60px 0;
  color: rgb(82, 78, 78);
}

.realization-block span {
  font-size: 30px;
  font-weight: 600;
  margin-top: 80px;
}

.gradient-block {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 150px;
  align-items: center;
  background: linear-gradient(to right, rgb(45, 22, 6), rgb(112, 56, 15));
}

.p-block {
  padding: 0 0 0 100px;
}

.p-block span {
  color: rgb(175, 160, 141);
}

.p-block p:nth-child(1) {
  color: white;
  font-size: 28px;
}

.p-block p:nth-child(2) {
  color: rgba(255, 255, 255, 0.2);
}

.gradient-block button {
  height: 50px;
  width: 175px;
  text-transform: uppercase;
  background-color: rgb(175, 160, 141);
  border: none;
  color: white;
  font-weight: 700;
  border-radius: 5px;
  transition: all 0.5s;
  cursor: pointer;
  box-shadow: 0 10px 20px -8px rgba(0, 0, 0, 0.7);
}

.gradient-block button {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.gradient-block button:after {
  content: "»";
  position: absolute;
  opacity: 0;
  top: 15px;
  right: 25px;
  transition: 0.5s;
}

.gradient-block button:hover {
  padding-right: 30px;
  padding-left: 8px;
}

.gradient-block button:hover:after {
  opacity: 1;
  right: 10px;
}

.projects-block {
  text-align: center;
  padding-top: 80px;
  margin: auto;
}

.projects-block > p {
  width: 800px;
  line-height: 30px;
  margin: auto;
  color: rgb(82, 78, 78);
  margin-bottom: 40px;
}
.buttons-block {
  width: 440px;
  display: flex;
  flex-direction: row;
  margin: auto;
  justify-content: space-evenly;
}

.buttons-block button {
  background-color: white;
  border: 1px solid grey;
  color: grey;
  border-radius: 3px;
  height: 25px;
  transition: 0.3s ease-in-out;
}

.buttons-block button:nth-child(1) {
  width: 60px;
}

.buttons-block button:hover {
  background-color: rgb(175, 160, 141);
  color: white;
  cursor: pointer;
}

.projects-block-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 0 150px 0 150px;
}

.projects-block-flex > div {
  width: 26%;
  height: 340px;
  margin-top: 40px;
}

.position-flex-1 {
  background-image: url(./imgs/1.png);
  position: relative;
}

.text-1,
.text-2,
.text-3,
.text-4,
.text-5,
.text-6 {
  position: absolute;
  top: 250px;
  left: 15px;
}

.text-1,
.text-2,
.text-3,
.text-4,
.text-5,
.text-6 p {
  text-align: left;
  font-size: 14px;
  color: grey;
}

.text-1 p {
  position: absolute;
  top: 45px;
}
.text-2 p {
  position: absolute;
  top: 45px;
}
.text-3 p {
  position: absolute;
  top: 45px;
}
.text-4 p {
  position: absolute;
  top: 45px;
}
.text-5 p {
  position: absolute;
  top: 45px;
}
.text-6 p {
  position: absolute;
  top: 45px;
}

.text-1 h4 {
  font-size: 20px;
  color: rgb(175, 160, 141);
}
.text-2 h4 {
  font-size: 20px;
  color: rgb(175, 160, 141);
}
.text-3 h4 {
  font-size: 20px;
  color: rgb(175, 160, 141);
}
.text-4 h4 {
  font-size: 20px;
  color: rgb(175, 160, 141);
}
.text-5 h4 {
  font-size: 20px;
  color: rgb(175, 160, 141);
}
.text-6 h4 {
  font-size: 20px;
  color: rgb(175, 160, 141);
}

.position-flex-2 {
  background-image: url(./imgs/2.png);
  position: relative;
}

.position-flex-3 {
  background-image: url(./imgs/3.png);
  position: relative;
}

.position-flex-4 {
  background-image: url(./imgs/4.png);
  position: relative;
}

.position-flex-5 {
  background-image: url(./imgs/5.png);
  position: relative;
}

.position-flex-6 {
  background-image: url(./imgs/6.png);
  position: relative;
}

.position-button {
  height: 50px;
  width: 175px;
  text-transform: uppercase;
  background-color: rgb(175, 160, 141);
  border: none;
  color: white;
  font-weight: 700;
  border-radius: 5px;
  transition: all 0.5s;
  cursor: pointer;
  box-shadow: 0 10px 20px -8px rgba(0, 0, 0, 0.7);
  margin: 50px 0 70px 0;
}

.position-button {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.position-button:after {
  content: "»";
  position: absolute;
  opacity: 0;
  top: 15px;
  right: 25px;
  transition: 0.5s;
}

.position-button:hover {
  padding-right: 30px;
  padding-left: 8px;
}

.position-button:hover:after {
  opacity: 1;
  right: 10px;
}

.video-presentation-block {
  background-image: url(./imgs/presentation.png);
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}

.video-presentation-block span:nth-child(2) {
  font-size: 30px;
  color: white;
  font-weight: 500;
}

.video-presentation-block span:nth-child(4) {
  font-size: 14px;
  color: rgb(199, 178, 153);
}

.video-presentation-block p {
  font-size: 16px;
  color: white;
  width: 600px;
  line-height: 30px;
  margin-top: 0%;
}

.video-presentation-block img {
  padding-bottom: 20px;
  cursor: pointer;
}

.video-presentation-block > div {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  height: 50%;
}

.mobile-devices {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 100px 0 0 0;
  background-color: rgb(251, 250, 248);
}

.sub-mobile-devices {
  width: 700px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 50px 0;
}

.sub-mobile-devices-1 span {
  font-size: 30px;
  font-weight: 500;
}

.sub-mobile-devices-1 p {
  line-height: 30px;
}

.sub-mobile-devices-2 {
  padding-left: 50px;
  padding-bottom: 100px;
}

.sub-mobile-devices-2 div {
  display: flex;
  flex-direction: row;
  margin-bottom: 12px;
}

.sub-mobile-devices-2 div img {
  margin-right: 30px;
}

.gradient-2 {
  height: 300px;
  background: linear-gradient(to right, rgb(45, 22, 6), rgb(112, 56, 15));
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 0 250px;
}

.gradient-2 img {
  width: 50px;
  height: 50px;
}

.gradient-2 > div {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  align-items: center;
  padding: 45px 0;
}

.gradient-2 > div span:nth-child(2) {
  font-size: 48px;
  color: white;
}

.gradient-2 > div span:nth-child(3) {
  font-size: 14px;
  text-transform: uppercase;
  color: rgb(196, 175, 151);
  font-weight: 500;
}

.gradient-2 > div span:nth-child(4) {
  width: 50%;
  height: 2px;
  background-color: white;
}

.sub-recent-posts-1 {
  text-align: center;
  width: 700px;
  line-height: 25px;
  margin: auto;
  padding: 60px 0 30px 0;
}

.sub-recent-posts-1 span {
  font-size: 30px;
  font-weight: 600;
}

.sub-recent-posts-1 p {
  font-size: 16px;
}

.sub-recent-posts-2 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 0 250px 100px 250px;
}

.sub-recent-posts-2 div {
  height: 395px;
  width: 370px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 0 10px 10px;
  background-repeat: no-repeat;
}

.sub-recent-posts-2 span {
  font-size: 20px;
  font-weight: 500;
}

.sub-recent-posts-2 div:nth-child(2) span {
  color: rgb(196, 175, 151);
}

.sub-recent-posts-2 p {
  font-size: 14px;
  color: gray;
}

.sub-recent-posts-2 a {
  font-size: 14px;
  text-decoration: none;
  color: rgb(196, 175, 151);
}

.sub-recent-posts-2 div:nth-child(1) {
  background-image: url(./imgs/aaaaaaaaa.png);
}

.sub-recent-posts-2 div:nth-child(2) {
  background-image: url(./imgs/bbbbbb1.png);
  background-repeat: no-repeat;
}

.sub-recent-posts-2 div:nth-child(3) {
  background-image: url(./imgs/cccccc2.png);
  background-repeat: no-repeat;
}

.logo-div-2 {
  height: 485px;
  background-image: url(./imgs/mount.png);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 200px;
}

.logo-div-2 img {
  height: 180px;
  width: 175px;
}

.logo-div-2 img:nth-child(1) {
  width: 250px;
}

.logo-div-2 img:nth-child(3) {
  width: 250px;
}

.pre-footer {
  height: 510px;
  background-color: rgb(25, 25, 25);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.pre-footer hr {
  width: 100%;
  background-color: rgb(85, 85, 85);
  height: 2px;
  border: none;
}

.pre-footer > div {
  max-width: 15%;
  line-height: 23px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: rgb(85, 85, 85);
  font-size: 14px;
  padding: 15px;
}

.pre-footer h3 {
  font-size: 24px;
}

.pre-footer-1 a:nth-child(2) {
  vertical-align: top;
  display: inline-block;
  padding: 17px 0 0 0;
  font-size: 34px;
  text-decoration: none;
  color: white;
}

.pre-footer-1 a {
  font-size: 14px;
  text-decoration: none;
  color: white;
}

.pre-footer-1 p {
  padding: 10px 0;
}

.pre-footer-2 p {
  margin: 0 0 10px 0;
  font-size: 14px;
}

.pre-footer-2 span {
  font-size: 12px;
}

.pre-footer-3 p {
  margin: 0;
}

.pre-footer-3 span {
  margin: 0 0 10px 0;
}

.pre-footer-3 a {
  color: aqua;
  text-decoration: none;
}

.pre-footer > div:last-child {
  max-width: 270px;
}

.pre-footer > div:last-child > div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.pre-footer > div:first-child {
  padding-bottom: 95px;
}

.pre-footer > div:nth-child(2) {
  padding-bottom: 37px;
}

.pre-footer > div:last-child {
  padding-bottom: 109px;
}

footer {
  height: 111px;
  background-color: rgb(16, 16, 16);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  color: rgb(85, 85, 85);
  font-size: 13px;
}

footer > div {
  width: 500px;
}

footer > div > div {
  height: 9px;
  width: 1px;
  background-color: aliceblue;
  display: inline-block;
}

footer > div > span,
div {
  margin: 0 5px;
  cursor: pointer;
}

.highlight {
  color: rgb(150, 150, 150);
}
